* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 2rem auto;
    display: flex;
    height: 500px;
}

.activeThumb {
    border: 4px solid white;
    filter: none;
}

.active.preview__item {
    display: block;
    height: 100%;
}

.active.preview__item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview__item {
    display: none;
}

.preview {
    width: 80%;
    position: relative;
}

.thumbs {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.darker {
    filter: brightness(.4);
}

.thumb_image {
    width: 100%;
    height: calc(100% / 5);
}

.next, .prev {
    position: absolute;
    background-color: lightgrey;
    border-radius: 50%;
    padding: 3px 5px;
}

.prev {
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
}

.next {
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}

.text {
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    color: white;
    text-align: right;
    font-size: 1.1rem;
}